.navbar-brand{
	width: 70px;
}

.card span{
	display: block;
}

.shadow {
    box-shadow: 0rem 3rem 10rem rgba(0, 0, 0, 0.15) !important;
 }

footer{
	background-color: #f5f5f5!important;
}

 @media (max-width: 767px){
 	h2{
 		font-size: 20px;
 	}
 	.card{
 		margin-bottom: 30px;
 	}
 }